@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'Mountains of Christmas';
  src: url('./MountainsofChristmas-Regular.ttf') format('truetype');
}

html,
body,
div#__next,
div#__next > div,
div#__next > div {
  height: 100%;
}

* {
  font-size: 80px;
  font-family: 'Mountains of Christmas', cursive;
  background-color: #0f0f23;
  color: rgb(247, 254, 231);
  text-shadow: yellow 0px 0 10px;
}
